header {
    z-index: 999;
    position: absolute;
    top: 0;
    width: 100%;
    .nav-style {

        img {
            @include breakpoint(medium){
                width: 120px;
                margin-top: 20px;
            }
            @include breakpoint(small){
                width: 100px;
                margin-top: 10px;
            }
        }

        .nav{
            text-align: center;
            @include breakpoint(small){
                margin-top: 15px;
            }
            @include breakpoint(extra-small) {
                margin: 15px auto;
            }
            li{
                padding-left: 17px;
                border-bottom: 1px solid #f3e2dd;
                text-align: center;
                @include breakpoint(medium){
                    padding-left: 10px;
                }
                @include breakpoint(small){
                    padding-left: 10px;
                }
                @include breakpoint(extra-small) {
                    padding: 0;
                }
                &:first-of-type {
                    padding-left: 0;
                    a {
                        padding-left: 0;
                        @include breakpoint(extra-small){
                            padding: 15px;
                        }
                    }
                }
                &:last-of-type {
                    a {
                        padding-right: 0;
                        @include breakpoint(extra-small){
                            padding: 15px;
                        }
                    }
                }
                a {
                    position: relative;
                    @include breakpoint(small){
                        font-size: 12px;
                    }
                    @include breakpoint(extra-small){
                        padding: 15px;
                        font-size: 14px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #676666;
                        @include opacity(0);
                    }
                    &:hover {
                        &::before {
                            @include opacity(1);
                        }
                    }
                }
            }
            .orange {
                float: right;
                margin-left: 28px;
                padding: 10px 18px;
                border: none;
                @include border-radius(18px);
                @include breakpoint(small){
                    display: none;
                }
                @include breakpoint(extra-small){
                    float: none;
                    margin: 15px 0 0;
                }
            }
        }
    }
}