.button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
    }

    &.orange {
        background-color: #fcb040;
        color: #fff;
    }
    &.black {
        border: 2px solid #656464;
        color: #656464;
    }
}