<section class="autopilot">
    <h2>set your revenue to autopilot</h2>
    <div class="container large-up">
            <div class="revenue">
                <h3>automatic mediation</h3>
                <p>Using automated, closed loop machine learning. Adappio gets rid of the need to constantly check your dashboard</p>
            </div>
            <div class="revenue">
                <h3>smart waterfall</h3>
                <p>Adappio prioritizes premium networks across 25-dimensions, cutting out the need to manually switch networks in and out</p>
            </div>
            <div class="revenue">
                <h3>manual override</h3>
                <p>Every autopilot system needs comprehensive manual override controls. Take the reins for special situations</p>
            </div>
        </div>
        <a class="button orange" href="javascript:void(0)">sign up</a>
</section>