<section class="monetization">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2>leading monetization tools</h2>
                <span>for top app developers</span>
                <p>Yourlogo runs multiple premium networks under one integration so you can dynamically test ad networks
                    against each other and visualise their combined performance.</p>
                <ul>
                    <li><a class="button orange" href="javascript:void(0)">sign up</a></li>
                    <li><a class="button black" href="javascript:void(0)">try demo</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                <img src="client/images/mac.png" alt="tools"/>
            </div>
        </div>
    </div>
</section>