<section class="partners">
    <h2>transparent<br/>mediation of premium ad networks</h2>
    <ul>
        <li><a href="javascript:void(0)"><img src="client/images/themeforest.png" alt=""/></a></li>
        <li><a href="javascript:void(0)"><img src="client/images/activeden.png" alt=""/></a></li>
        <li><a href="javascript:void(0)"><img src="client/images/audiojungle.png" alt=""/></a></li>
        <li><a href="javascript:void(0)"><img src="client/images/graphicriver.png" alt=""/></a></li>
    </ul>
    <a href="javascript:void(0)">see more</a>
</section>