<section class="presentation">
    <div class="clearfix">
    <div class="interface hidden-xs"><img src="client/images/interface.png" alt="user interface"/></div>
    <div class="caption">
        <h2>the most powerful</h2>
        <span>Simple & Elegant User Interface</span>
        <p>Meaningful dashboards - manage your revenue with clean, easy to use dashboards.</p>
        <p>Yourlogo intuitive & easy-to-use interface</p>
        <a class="button orange" href="javscript:void(0">sign up</a>
    </div>
    </div>
    <div class="rs-wrap">
    <div class="royalSlider rsDefault">
        <img class="rsImg" src="client/images/formats/format-1.png" alt="slide-1"/>
        <img class="rsImg" src="client/images/formats/format-2.png" alt="slide-2"/>
        <img class="rsImg" src="client/images/formats/format-3.png" alt="slide-3"/>
        <img class="rsImg" src="client/images/formats/format-2.png" alt="slide-2"/>
        <img class="rsImg" src="client/images/formats/format-3.png" alt="slide-3"/>
    </div>
    </div>
</section>