.slider {
    .slider-style {
        .carousel-caption {
            width: 520px;
            @include breakpoint(small) {
                width: 400px;
            }
            h2 {
                font-size: 27px;
                font-weight: 700;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 24px;
                }
                @include breakpoint(small) {
                    font-size: 20px;
                }
            }
            p {
                margin-top: 45px;
                font-size: 20px;
                @include breakpoint(medium) {
                    margin-top: 30px;
                    font-size: 16px;
                }
                @include breakpoint(small) {
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
            ul {
                margin-top: 45px;
                font-size: 0;
                @include breakpoint(medium) {
                    margin-top: 30px;
                }
                @include breakpoint(small) {
                    margin-top: 15px;
                }

                li {
                    display: inline-block;
                    &:nth-child(2) {
                        margin-left: 44px;
                    }

                    .button {
                        width: 193px;
                        font-size: 27px;
                        line-height: 64px;
                        @include breakpoint(medium) {
                            width: 163px;
                            font-size: 24px;
                            line-height: 48px;
                        }
                        @include breakpoint(small) {
                            width: 163px;
                            font-size: 20px;
                            line-height: 40px;
                        }
                    }
                }
            }

        }
    }
}